<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="common/header::common_header"></header>
</head>
<body>

<div th:replace="common/header::nav"></div>

<div class="container">

</div>

<!--<form th:action="@{/sendEmail}" method="get">-->
<!--<button class="btn btn-md btn-warning btn-block" type="Submit">Send Email</button>-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--<form th:action="@{/sendMail}" method="get">-->
<!--<button class="btn btn-md btn-warning btn-block" type="Submit">Send Email</button>-->
<!--</form>-->

</body>
</html>