<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<header th:replace="common/header::common_header"></header>

<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonSubmit {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
.buttonSubmit:hover {background-color: #e7e7e7;}

    </style>
</head>
<body>
<div class="header">
    <h1>Spring security</h1>
    <p>This is example of registration user, activate account by sending activation link on e-mail address and verification by login</p>
</div>
<div class="topnav">
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/registration}">Registration</a>
</div>
<div class="row">
    <div class="column"></div>
    <div class="column">
        <form autocomplete="off" th:action="@{/registration}" th:object="${user}" method="post" class="form-horizontal"
              role="form" align="center">
            <h2>Registration Form</h2>
            <br>
            <div align="center">
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{name}" placeholder="Name"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{lastName}"
                               placeholder="Last Name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control"/> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button class="btn-block button buttonSubmit" type="submit">Register</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>